<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="Rodelio Dahay">
    <link href="/img/favicon.ico" rel="shortcut icon">

    <title>Admin</title>
    <!-- Bootstrap core CSS-->
    <link href="/admin/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom fonts for this template-->
    <link href="/admin/vendor/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <!-- Page level plugin CSS-->
    <link href="/admin/css/dataTables.bootstrap4.css" rel="stylesheet">
    <!-- Custom styles for this template-->
    <link href="/admin/css/sb-admin.css" rel="stylesheet">
</head>

<body class="fixed-nav sticky-footer bg-dark" id="page-top">

    <!-- Navigation-->
    {{>admin/admin-nav}}
    <!-- Navigation-->
    
    <div class="content-wrapper">
    
        <div class="container-fluid">
            <!-- Breadcrumbs-->
           
    
            <!-- Icon Cards-->
            {{!-- {{>admin/admin-cards}} --}}
            
             {{{body}}}

    
        </div>
        <!-- /.container-fluid-->
    
    
        {{>admin/admin-footer}}
    
    </div>
    <!-- /.content-wrapper-->

    <!-- Bootstrap core JavaScript-->
    <script src="/admin/js/jquery.min.js"></script>
    <script src="/admin/js/bootstrap.bundle.min.js"></script>

    <script src="https://cdn.ckeditor.com/4.9.2/standard/ckeditor.js"></script>

    <!-- Core plugin JavaScript-->
    <script src="/admin/js/jquery.easing.min.js"></script>
    <!-- Page level plugin JavaScript-->
    <script src="/admin/js/Chart.min.js"></script>
    <script src="/admin/js/jquery.dataTables.js"></script>
    <script src="/admin/js/dataTables.bootstrap4.js"></script>
    <!-- Custom scripts for all pages-->
    <script src="/admin/js/sb-admin.js"></script>
    <!-- Custom scripts for this page-->
    <script src="/admin/js/sb-admin-datatables.min.js"></script>
    {{!-- <script src="/admin/js/sb-admin-charts.min.js"></script> --}}

    <script>
       
        CKEDITOR.replace('body', {
            plugins: 'wysiwygarea,toolbar,basicstyles,link'
        });
    </script>

</body>

</html>