<section class="resume-section p-3 p-lg-5 d-flex d-column" id="labs">
    <div class="my-auto">
        <h1 class="mb-0">This Page
            <span class="text-primary">is Under Constructions</span>
        </h1>
        <div class="subheading mb-5"><i class="fa fa-mobile" aria-hidden="true"></i> (65) 9649-6517 ·
            <a href="mailto:name@email.com"><i class="fa fa-envelope" aria-hidden="true"></i> odedahay@yahoo.com</a>
        </div>
      
        <p class="mb-5">Hang on!I'll be back in a couple of shakes!.</p>

        <ul class="list-inline list-social-icons mb-0">
            <li class="list-inline-item">
                <a href="https://www.facebook.com/ode.dahay">
                    <span class="fa-stack fa-lg">
                        <i class="fa fa-circle fa-stack-2x"></i>
                        <i class="fa fa-facebook fa-stack-1x fa-inverse"></i>
                    </span>
                </a>
            </li>

            <li class="list-inline-item">
                <a href="https://www.linkedin.com/in/rodelio-dahay-49891b25/">
                    <span class="fa-stack fa-lg">
                        <i class="fa fa-circle fa-stack-2x"></i>
                        <i class="fa fa-linkedin fa-stack-1x fa-inverse"></i>
                    </span>
                </a>
            </li>
            <li class="list-inline-item">
                <a href="https://github.com/odedahay">
                    <span class="fa-stack fa-lg">
                        <i class="fa fa-circle fa-stack-2x"></i>
                        <i class="fa fa-github fa-stack-1x fa-inverse"></i>
                    </span>
                </a>
            </li>
        </ul>
    </div>
</section>